<?xml version="1.0"?>

<model>
  <name>Timepix3 camera</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Petr Stibinger</name>
    <email>stibipet@fel.cvut.cz</email>
  </author>

  <description>
    Timepix3 radiation event camera model for Gazebo
  </description>
</model>
